a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	color:blue;
}

a:hover {
	text-decoration: underline;
}

body {
	background-color: gray;
	margin: 0px;
	font-family: arial;
}

.header{
	background-color: black;
	color: white;
	text-align: center;
	font-weight: bold;
	margin-top: 0px;
	font-size: 45px;	
	padding: 10px;
}

.whitebox{
	background-color: white;
	height: 110px;
	margin-left: 7%;
	margin-right: 7%;
}
	
.graybox{
	background-color: gray;
	height: 10px;
	padding-top:7%;
}

.lgraybox{
	background-color: lightgray;
	margin-left: 7%;
	margin-right: 7%;
}

.name{
	font-weight: bold;
	padding-left: 15px;
	padding-top: 15px;
}

.text{
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}

.gal{
	height: 200px;
}

.imgbtns{
   width:300px; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
}

.imgbtn1{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
} 

h5 {
	color: white;
}
