/* every page*/
@font-face {
    font-family: timer;
    src: url("clock.otf") format("opentype");
}

body {
	font-family: 'Heebo', sans-serif;
	background-color: #232323;
	color: white;
	font-weight: 100;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	transition-duration: 0.4s;
	color: gray;
}

a {
	cursor: pointer;
}

#headdrop {
	color: white;
}

#dropcont{
	color: #999999;
	background-color: none; 
}

#logo {
	vertical-align: middle;
	text-align: center;
	font-weight: 900;
	height: 42vh;
}

#logo2 {
	vertical-align: middle;
	text-align: center;
	font-weight: 900;
}


#name, #navbar {
	margin-top: 0px;
	margin-bottom: 0px;
}

#navbar {
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
}

#navbar2{
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
}

#pageTimer {
	margin: auto;
	font-family: 'timer';
	font-weight: bold;
	color: black;
	background-color: white;
}

#pageTimer p {
	padding-top: 1vw;
}

#yt-logo {
	margin: 0px;
	width: 15vw;
}


@media only screen and (min-width: 750px){
	#logo {
		margin-top: 20vh;
		margin-bottom: 38vh;
		font-size: 15vw;
	}

	#navbar {
		font-size: 6vw;
	}

	#logo2 {
		font-size: 6vw;
	}

	#navbar2 {
		font-size: 4vw;
	}


}

@media only screen and (max-width: 749px){
	#logo {
		margin-top: 12vh;
		margin-bottom: 38vh;
		font-size: 13vw;
	}

	#navbar {
		font-size: 5vw;
	}

	#logo2 {
		font-size: 8vw;
	}

	#navbar2 {
		font-size: 3.5vw;
	}

}

iframe{
	width: 75vw;
	height: 50vh;
	border: none;
	margin-left: 12.5vw;
	margin-right: 12.5vw;
	overflow: hidden;
}

.gal img {
	width: 45vw;
}

.gal {
	margin-left: auto;
	margin-right: auto;
}

.projects table{

	margin-left: auto;
	margin-right: auto;
}

#instr h3{
	width: 85vw;
	margin-left: auto;
	margin-right: auto;

}
