/* every page*/
@font-face {
    font-family: canela;
    src: url("Canela/Canela-Light.woff2");
}

h3{
		color: black;
		font-family: nimbus-sans-extended, sans-serif;
		font-weight: 700;
		font-style: normal;
	}
h5{
	color: black;
	font-family: nimbus-sans-extended, sans-serif;
	font-style: normal;
	font-weight: 700;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	transition-duration: 0.4s;
	color: black
}

#logo {
	width: 80vw;
	margin-left: 10vw;
	margin-right: 10vw;
	font-family: canela;
	text-align: left;
}

#name, #navbar, #navbar3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

#navbar, #navbar3 {
	margin-left: auto;
	margin-right: auto;
	color: red;
}

#navbar2{
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
}

@media only screen and (min-width: 750px){
	body{
		background-image: url("photos/mainimg.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
	#logo {
		font-size: 8.25vw;
	}
	.gal img {
		width: 45vw;
	}
	.gal2{
		display:none;
	}
	.navbar-brand{
		margin-left: 45px;
		margin-top: 40px;
	}
	.navbar-nav{
		margin-right: 45px;
		margin-top: 45px;
	}
}

@media only screen and (max-width: 749px){
	body{
		background-image: url("photos/mainimg2.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
	#logo {
		font-size: 20vw;
	}
	.gal2 img {
		width: 80vw;
	}
	.gal{
		display:none;
	}
}

.gal, .gal2 {
	margin-left: auto;
	margin-right: auto;
}
