@import url("https://fonts.googleapis.com/css?family=Red+Hat+Text:400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Inter:400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap");

/* Reset */
@page {
  size: Letter;
  margin: 0.5in;
}

body,
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

/* Base Typography */
html {
  font-size: 11pt;
}

body {
  color: #222;
  font: normal 1.6rem/1.2 "Red Hat Text", "Inter", "Noto Sans SC";
  margin: auto;
}

h1,
h2,
h3 {
  font-family: "DM Sans", "Inter", "Noto Sans SC";
  font-weight: bold;
}

h1 {
  font-size: 3.6rem;
  font-weight: normal;
  text-align: center;
}

h2 {
  color: #016ef1;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 1em;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  margin-top: 0.75em;
}

h1 strong,
h2 strong,
h3 strong {
  font-weight: 700;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

/* Lists */
ul {
  margin-top: 0.5em;
  padding-left: 16px;
}

ul li {
  list-style-type: none;
  position: relative;
}

ul li:before {
  color: #016ef1;
  content: "—";
  font-weight: normal;
  left: -16px;
  position: absolute;
}

h3 + ul {
  margin-top: 0;
}

/* Links */
a {
  border-bottom: 1px solid #016ef1;
  color: #222;
  text-decoration: none;
}

/* Paragraphs */
p {
  margin-top: 0.5em;
}

p.pull-right {
  float: right;
  margin: -1.2em 4px 0 0;
  text-align: right;
}

h3 + p {
  margin-top: 0.2em;
}

li > p {
  margin-top: 0;
}

/* Tables */
table {
  margin-top: 0.5em;
  table-layout: fixed;
  width: 100%;
}

table tr {
  font-weight: normal;
}

/* Horizontal Rule */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1em 0;
}

/* Layout */
.row.row--section {
  display: flex;
}

.row.row--section .column.column--1-1 {
  flex: 100%;
}

.section:not(:first-of-type) {
  margin-top: 0.6cm;
}

/* Code */
code {
  background-color: rgba(1, 110, 241, 0.1);
  border-radius: 2px;
  color: #016ef1;
  font-weight: 500;
  padding: 0 4px;
  font-family: inherit;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
