body {
	background-image: linear-gradient(to right, #A5FFCF, #99AACC, #D8BFD8);
}

#link_input {
	height: 30px;
	width: 30%;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	background-color: #333333;
	color: white;
	border-style: #000000;
	border-style: none;
}

#sub {
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #333333;
	color: white;
	font-size: 18px;
	border-radius: 5px;
	border-style: none;
}

#container {
    position: relative;
    height: 100px;
}

h2{
	margin-left: 10px;
}

h4{
	margin-left: 10px;
}