body {
    background-image: linear-gradient(to right, #a5d7f0, #a5f0b4, #ffff88);
}

#text_input {
	
	padding: 5px;
}

#container {
    position: relative;
    height: 100%;
}

#goback {
	float: right;
	color: black;
	margin-right: 2%
}

h2 {
    font-weight: bold;
	margin-left: 3%;
}

h4 {
	font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
}