@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://use.typekit.net/grz6fsd.css');
@import url('https://use.typekit.net/lyi5zly.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
        background-color: #F9F6F0;
        font-family: 'Space Grotesk', sans-serif;
}

/*----------Nav Styling----------*/
nav {
        background-color: #F9F6F0;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
        width: 100vw;
        text-decoration-color: #2c3e4d;
}

.nav-link{
        font-size: 1.5em;
        color:  #2c3e4d
}

.nav-item:hover, .d-flex button:hover {
        cursor: pointer;
}

.d-flex button {
        border-radius: 0px;
}

.navbar-brand span {
        color: #364046;
}

.nav-item, .d-flex button {
        font-weight: 400;
        font-style: normal;
        font-size: 5em;
}

/*-------------------------------*/

/*---------H Tag Styling---------*/


body, h1, h2,h4, h5, h6, .donate-top h3, .donate-middle h4, .donate-bottom h3 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 100;
        font-style: normal;
}

h3, .wildflowers-promo h1 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        font-style: normal;
}

h1 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        color: #3b474f;
        font-size: 3.9em;
        text-decoration: underline;
        text-decoration-color: #28a745;
}

.wildflowers-promo h3, .wildflowers-promo h4, .jumbotron3 h3 {
        font-family: serifa, serif;
        font-style: lighter;
}

.emergency {
        font-family: serifa, serif;
        font-weight: 400;
}

/*-------------------------------*/

/*--------Button Styling--------*/
.btn {
        border-radius: 0px;
        font-family: rift-soft, serif;
        font-weight: 100;
        font-style: normal;
        font-size: 1.7em;
        background-color: #F9F6F0;
}

.subscribe-form button {
        font-family: rift-soft, serif;
        font-style: normal;
        font-size: 1.7em;
}

.subscribe-form input {
        font-size: 1.5em;
        font-weight: lighter;
        background-color: #F9F6F0
}

/*-------------------------------*/

/*---------A Tag Styling---------*/
a, a:active, a:hover, a:visited {
        color: #2c3e4d;
}

/*-------------------------------*/

/*--------Miscellaneous--------*/
.container-fluid {
        width: 88vw;
        margin-left: 6vw;
        margin-right: 6vw;
}

.jumbotron1 {
        color: white;
        font-family: freighttextcmp-pro, serif;
        font-size: 3em;
}

.jumbotron3 {
        background-color: #ECF5EB;
        height: 300px;
}

.donate-top {
        color: #2c3e4d;
}

.form-control, #state {
        border-radius: 0px;
        background-color: #F9F6F0;
}

/*-------------------------------*/


.sv-footer input, .sv-btn {
        border-radius: 0px;
        font-size: 1.25em;
}

.sv-body__progress {
        margin-bottom: 0px;
}

.sv-footer {
        margin-top: 0px;
}

.modal-button {
        background-color: #2c3e4d;
}

h1{
        font-family: 'Space Grotesk', sans-serif;
        text-decoration: underline;
        text-decoration-color: #2c3e4d;
}

.text-align-left h1, .text-align-left h2, .text-align-left h3, .text-align-left h4, .text-align-left h5, .text-align-left h6{
        text-align: left;
}

.text-align-right h1, .text-align-right h2, .text-align-right h3, .text-align-right h4, .text-align-right h5, .text-align-right h6{
        text-align: right;
}